<template>
	<div class="hvw-card-view hvw-view hvw-context">
		<ModelCard :model="model" :id="uuid" :editor="edit"></ModelCard>
	</div>
</template>

<script>
	import {Model} from "@hitchy/plugin-odem-rest-client";
	import ModelCard from "../components/ModelCard";

	export default {
		components: {
			ModelCard,
		},
		props: {
			slug: { required: true, type: String },
			uuid: String,
			edit: Boolean,
		},
		data() {
			return {};
		},
		computed: {
			model() { return Model.tryModel( Model.slugToName( this.slug ) ); }
		},
		beforeRouteEnter( to, from, next ) {
			Model.getModels()
				.then( models => {
					const name = Model.slugToName( to.params.slug );

					if ( !models.hasOwnProperty( name ) ) {
						throw Object.assign( new Error( `no such model: ${name}` ), {
							route: to.fullPath + "/./no-such-model",
						} );
					}

					const uuid = to.params.uuid;

					if ( uuid && !/^[0-9a-f]{8}(?:-[0-9a-f]{4}){3}(?:-[0-9a-f]{12})$/.test( uuid ) ) {
						throw Object.assign( new Error( `invalid UUID: ${uuid}` ), {
							route: to.fullPath + "/./invalid-uuid",
						} );
					}

					next();
				} )
				.catch( error => next( error.route ) );
		},
	};
</script>
