<template>
	<div class="hvw-list-view hvw-view hvw-context">
		<ModelList :model="model"></ModelList>
	</div>
</template>

<script>
	import {Model} from "@hitchy/plugin-odem-rest-client";
	import ModelList from "../components/ModelList";

	export default {
		components: {
			ModelList,
		},
		props: {
			slug: { required: true, type: String },
		},
		data() {
			return {};
		},
		computed: {
			model() { return Model.tryModel( Model.slugToName( this.slug ) ); }
		},
		beforeRouteEnter( to, from, next ) {
			Model.getModels()
				.then( models => {
					const name = Model.slugToName( to.params.slug );

					if ( !models.hasOwnProperty( name ) ) {
						throw Object.assign( new Error( `no such model: ${name}` ), {
							route: to.fullPath + "/./no-such-model",
						} );
					}

					next();
				} )
				.catch( error => next( error.route ) );
		},
	};
</script>
