<template>
	<form class="hvw-card hvw-context" :class="{editor: editor, viewer: !editor, error: error}" @submit.prevent="save">
		<h2 v-if="title" class="headline">{{title}}</h2>
		<div v-if="( !record || !fieldOptions ) && !error" class="activity-indicator">loading ...</div>
		<div v-if="record && fieldOptions" class="fields">
			<div class="field"
			     v-for="property in properties" :key="property.name"
			     :class="property.classes || {}">
				<div class="label">
					<label>{{property.label || property.name}}</label>
				</div>
				<div class="content">
					<span v-if="!editor" class="value">{{record[property.name]}}</span>
					<input v-if="editor && ( !property.control || property.control.type === 'text' )"
					       ref="controls"
					       type="text"
					       :value="record[property.name]"
					       @input="onInput( $event, property.name )">
					<select v-if="editor && property.control && property.control.type === 'select'"
					        ref="controls"
					        :value="record[property.name]"
					        :placeholder="property.control.prompt"
					        :class="{set: record[property.name], unset: !record[property.name]}"
					        @change="onSelect( $event, property.name )">
						<option v-for="option in getOptions( property )"
						        :key="option.uuid" :value="option.uuid"
						        :class="{unset: option.uuid === ''}">{{option.label}}</option>
					</select>
					<div v-if="editor && property.hint" class="hint">{{property.hint}}</div>
					<div v-if="editor && fieldErrors[property.name] && touched[property.name]   " class="error">{{fieldErrors[property.name].message || fieldErrors[property.name]}}</div>
				</div>
			</div>
		</div>
		<div v-if="record || error" class="panel">
			<div class="actions-prompt" v-if="actionsPrompt">{{actionsPrompt}}</div>
			<div class="error" v-if="error">Error: {{error.message || error}}</div>
			<div class="actions" v-if="editor">
				<button type="submit" :disabled="error || !changed || !isValid"><span>Save</span></button>
				<button @click="cancel()"><span>Cancel</span></button>
			</div>
			<div class="actions" v-if="!editor">
				<button @click="cancel()"><span>Close</span></button>
			</div>
		</div>
	</form>
</template>

<script>
export default {
	props: {
		properties: {
			type: Array,
			required: true,
			validator: items => items.length > 0 && items.every( item => item && typeof item === "object" ),
		},
		record: Object,
		error: [ Error, String ],
		fieldErrors: Object,
		fieldOptions: {
			type: Object,
			validator: value => !value || Object.keys( value ).every( name => Array.isArray( value[name] ) ),
		},
		editor: Boolean,
		title: String,
		actionsPrompt: String,
		format: Function,
	},
	data() {
		const touched = {};

		this.properties.forEach( property => { touched[property.name] = false; } );

		return {
			changed: false,
			selectOptions: {},
			touched,
		};
	},
	computed: {
		isValid() {
			return !this.properties.some( p => this.fieldErrors[p.name] );
		}
	},
	methods: {
		getOptions( property ) {
			return [{
				value: "",
				label: ( property.control && property.control.prompt ) || "-",
			}].concat( this.fieldOptions[property.model] || [] );
		},
		save() {
			if ( this.isValid ) {
				this.$emit( "save", this.record );
			}
		},
		cancel() {
			this.$emit( "cancel" );
		},
		onInput( event, propertyName ) {
			if ( this.record && this.editor ) {
				this.changed = true;
				this.touched[propertyName] = true;

				this.$emit( "input", propertyName, event.target.value );
			}
		},
		onSelect( event, propertyName ) {
			return this.onInput( event, propertyName );
		},
	},
	mounted() {
		setTimeout( () => {
			const controls = this.$refs.controls || [];
			const first = controls[0];

			if ( first ) {
				if ( first.select ) {
					first.select();
				}

				first.focus();
			}
		}, 10 );
	},
}
</script>
