<template>
	<div class="hvw-list hvw-context">
		<h2 v-if="title" class="headline">{{title}}</h2>
		<div v-if="!rows" class="activity-indicator">loading ...</div>
		<div v-if="rows && !rows.length" class="empty">There are no entries.</div>
		<table v-if="rows && rows.length" class="items">
			<thead>
				<tr>
					<th v-for="( column, key ) in columns" :key="key"
					    @click="$emit( 'header', column.name || column )"
					    :class="column.classes || {}">{{column.label || column.name || column}}</th>
					<th class="actions"></th>
				</tr>
			</thead>
			<tbody>
				<tr v-for="row in rows" :key="row[idName]">
					<td v-for="( column, key ) in columns" :key="key">{{format ? format( row[column.name || column], column, row ) : row[column.name || column]}}</td>
					<td class="actions">
						<button v-for="name in rowActionNames" :key="name"
						        @click="triggerRowAction( name, rowActions[name], row )"
						        :class="{enabled: checkRowActionEnabled( name, rowActions[name], row )}">
							<span>{{rowActions[name].label || name}}</span>
						</button>
					</td>
				</tr>
			</tbody>
		</table>
		<div v-if="total > -1 && rows && rows.length < total" class="pagination">
			<div class="first" :class="{enabled: offset > 0}"></div>
			<div class="prev" :class="{enabled: offset > 0}"></div>
			<div class="info">{{offset + 1}} - {{offset + limit}} / {{total}}</div>
			<div class="next" :class="{enabled: offset + limit < total}"></div>
			<div class="last" :class="{enabled: offset + limit < total}"></div>
		</div>
		<div v-if="actionNames.length > 0 && rows" class="panel">
			<div class="actions-prompt" v-if="actionsPrompt">{{actionsPrompt}}</div>
			<div class="actions">
				<button v-for="name in actionNames"
				        :key="name"
				        @click="triggerAction( name, actions[name] )"
				        :class="{enabled: checkActionEnabled( name, actions[name] )}">
					<span>{{actions[name].label || name}}</span>
				</button>
			</div>
		</div>
	</div>
</template>

<script>
export default {
	props: {
		columns: {
			type: Array,
			required: true,
			validator: items => items.length > 0 && items.every( item => item && ( typeof item === "string" || item.name ) ),
		},
		idName: {
			type: String,
			default: "id",
		},
		rows: {
			type: Array,
			validator: items => items.every( item => item && typeof item === "object" ),
		},
		total: Number,
		offset: {
			type: Number,
			default: 0,
		},
		limit: {
			type: Number,
			default: Infinity,
		},
		title: String,
		actionsPrompt: String,
		actions: {
			type: Object,
			default: {},
		},
		rowActions: {
			type: Object,
			default: {},
		},
		isActionEnabled: Function,
		isRowActionEnabled: Function,
		sortedBy: String,
		sortedDescendingly: Boolean,
		format: Function,
	},
	data() {
		const actions = this.actions;
		const rowActions = this.rowActions;
		const actionNames = Object.keys( actions ).filter( name => actions[name] );
		const rowActionNames = Object.keys( rowActions ).filter( name => rowActions[name] );

		actionNames.sort( ( l, r ) => {
			return ( actions[l].index || 0 ) - ( actions[r].index || 0 );
		} );

		rowActionNames.sort( ( l, r ) => {
			return ( rowActions[l].index || 0 ) - ( rowActions[r].index || 0 );
		} );

		return {
			actionNames,
			rowActionNames,
		};
	},
	methods: {
		checkRowActionEnabled( name, action, item ) {
			if ( this.isRowActionEnabled ) {
				return this.isRowActionEnabled( name, action, item );
			}

			return true;
		},
		checkActionEnabled( name, action ) {
			if ( this.isActionEnabled ) {
				return this.isActionEnabled( name, action );
			}

			return true;
		},
		triggerRowAction( name, action, item ) {
			if ( this.checkRowActionEnabled( name, action, item ) ) {
				this.$emit( "action", name, action, item );
			}
		},
		triggerAction( name, action ) {
			if ( this.checkActionEnabled( name, action ) ) {
				this.$emit( "action", name, action );
			}
		},
		load() {
			this.$emit( "load", this.offset, this.limit );
		},
	},
}
</script>
