<template>
	<div class="hvw-modal hvw-popup hvw-context" :class="{visible, hidden: !visible}"
		@mousewheel.prevent.stop="nop">
		<form @submit.prevent="nop" class="popup-container" v-if="visible">
			<div class="title" :class="titleClass"><i18n-lookup :id="title" fallbackLocale="en"></i18n-lookup></div>
			<div class="body">
				<div class="icon" v-if="icon"><img :src="icon" alt="icon for type of popup"></div>
				<div class="text"><i18n-lookup :id="text" fallbackLocale="en"></i18n-lookup></div>
			</div>
			<div class="buttons">
				<button v-for="( button, index ) in buttons" :key="index"
				        :type="button.confirm ? 'submit' : 'button'"
				        @click="click(index)"><span class="icon"></span><span class="label"><i18n-lookup :id="button.text || button" fallbackLocale="en"></i18n-lookup></span></button>
			</div>
		</form>
	</div>
</template>

<script>
export default {
	props: {
	},
	data() {
		return {
			visible: false,
			titleClass: "",
			title: "",
			icon: null,
			text: "",
			buttons: [],
			type: null,
		};
	},
	methods: {
		nop() {},
		click( index ) {
			if ( this.pipe.length > 0 ) {
				const { popup: { buttons = [] } = {}, callback } = this.pipe[0] || {};

				switch ( typeof callback ) {
					case "function" :
						setTimeout( callback, 10, index, buttons[index] );
						break;

					case "string" :
						setTimeout( () => {
							this.$root.$hitchyEventBus.$emit( callback, index, buttons[index] );
						}, 10 );
						break;
				}
			}

			this.visible = false;

			if ( this.pipe.length > 1 ) {
				setTimeout( () => {
					this.pipe.shift();
					this.handleNextInPipe();
				}, 250 );
			} else {
				this.pipe.shift();
			}
		},
		handleNextInPipe() {
			if ( this.pipe.length < 1 ) {
				return;
			}

			const { popup: { title, icon, text, buttons, type } = {} } = this.pipe[0] || {};

			this.visible = false;

			const apply = () =>{
				this.title = title;
				this.icon = icon;
				this.text = text;
				this.buttons = buttons;
				this.type = type;

				setTimeout( () => {
					this.visible = true;
				}, 100 );
			};

			if ( this.visible ) {
				this.visible = false;
				setTimeout( apply, 400 );
			} else {
				apply();
			}
		},
	},
	created() {
		this.pipe = [];

		this.$hitchyEventBus.$on( "show-modal", ( popup, callback ) => {
			if ( popup ) {
				this.pipe.push( { popup, callback } );

				if ( this.pipe.length === 1 ) {
					this.handleNextInPipe();
				}
			}
		} );
	},
}
</script>
