<template>
	<List v-if="model"
	      :columns="sortedProperties"
	      :rows="items"
	      :total="count"
	      :offset="offset"
	      :limit="limit"
	      :title="( title || 'Items of model &quot;%%model%%&quot;' ).replace( /%%model%%/g, model.schema.label || model.schema.name )"
	      :actions="compiledActions"
	      :row-actions="compiledRowActions"
	      :is-action-enabled="isActionEnabled"
	      :is-row-action-enabled="isRowActionEnabled"
	      id-name="uuid"
	      :format="formatCell"
	      @load="load"
	      @action="trigger"
	      @sort="sortBy"
	></List>
</template>

<script>
import { Model } from "@hitchy/plugin-odem-rest-client";
import List from "./List";

function createDefaultActions() {
	return {
		add: { default: true },
	};
}

function createDefaultRowActions() {
	return {
		view: { default: true },
		edit: { default: true },
		remove: { default: true },
	};
}

export default {
	components: { List },
	props: {
		model: {
			required: true,
 			validator: value => Model.isModel( value && value.prototype ),
		},
		actions: Object,
		rowActions: Object,
		isActionEnabled: Function,
		isRowActionEnabled: Function,
		defaultActions: {
			type: Boolean,
			default: true,
		},
		defaultRowActions: {
			type: Boolean,
			default: true,
		},
		routeAdd: {
			type: [ String, Function ],
			default: "./add",
		},
		routeView: {
			type: String,
			default: "./%s",
		},
		routeEdit: {
			type: String,
			default: "./%s/edit",
		},
		routeRemove: {
			type: String,
			default: "./%s/delete",
		},
	},
	data() {
		const compiledActions = this.defaultActions ? createDefaultActions() : {};
		const compiledRowActions = this.defaultRowActions ? createDefaultRowActions() : {};

		if ( this.actions ) {
			for ( const [ name, action ] of this.actions ) {
				if ( action ) {
					compiledActions[name] = action;
				} else if ( compiledActions[name] ) {
					compiledActions[name] = null;
				}
			}
		}

		if ( this.rowActions ) {
			for ( const [ name, action ] of this.rowActions ) {
				if ( action ) {
					compiledRowActions[name] = action;
				} else if ( compiledRowActions[name] ) {
					compiledRowActions[name] = null;
				}
			}
		}

		return {
			items: null,
			count: 0,
			offset: 0,
			limit: Infinity,
			error: null,
			compiledActions,
			compiledRowActions,
			sortingBy: null,
			sortingDescendingly: false,
		};
	},
	computed: {
		title() {
			const { listTitle } = ( this.model && this.model.schema.options ) || {};

			return listTitle;
		},
		sortedProperties() {
			const props = this.model.schema.props;
			const names = Object.keys( props );
			const numNames = names.length;
			const sorted = new Array( numNames );
			let write = 0;
			let limited = false;

			for ( let i = 0; i < numNames; i++ ) {
				if ( props[names[i]].listIndex != null ) {
					limited = true;
					break;
				}
			}

			for ( let read = 0; read < numNames; read++ ) {
				const name = names[read];
				const sorting = this.sortingBy === name;
				const prop = props[name];

				if ( !limited || prop.listIndex != null ) {
					sorted[write++] = Object.assign( {}, prop, {
						name,
						classes: {
							sorted: sorting,
							reverse: sorting && this.sortingDescendingly,
						},
					} );
				}
			}

			sorted.splice( write );

			sorted.sort( ( l, r ) => ( l.listIndex || l.index || 0 ) - ( r.listIndex || r.index || 0 ) );

			return sorted;
		},
	},
	methods: {
		checkRowActionEnabled( name, action, item ) {
			if ( this.isRowActionEnabled ) {
				return this.isRowActionEnabled( name, action, item );
			}

			return true;
		},
		checkActionEnabled( name, action ) {
			if ( this.isActionEnabled ) {
				return this.isActionEnabled( name, action );
			}

			return true;
		},
		load( offset = 0, limit = Infinity ) {
			this.model.list( { offset, limit } )
				.then( ( { items, count } ) => {
					this.items = items;
					this.count = count;
				} )
				.catch( error => {
					this.error = error;
				} );
		},
		trigger( name, action, item = undefined ) {
			if ( action.default ) {
				const routerTarget = this[`route${name.replace( /^[a-z]/, l => l.toUpperCase() )}`];

				if ( routerTarget ) {
					if ( routerTarget === "<back>" ) {
						this.$router.back();
					} else {
						const qualified = routerTarget.replace( /%s/, item ? item.uuid : "no-item" );

						this.$router.push( this.$router.resolve( qualified, undefined, true ).location );
					}

					return;
				}
			}

			this.$emit( name, action, item );
		},
		sortBy( property ) {
		},
		formatCell( value, property, record ) {
			return value;
		},
		onRemoveItem() {
			this.load();
		},
	},
	watch: {
		model( newModel, oldModel ) {
			this.items = null;
			oldModel.off( "removed", this.onRemoveItem );
			newModel.on( "removed", this.onRemoveItem );
			this.load();
		},
	},
	created() {
		this.model.on( "removed", this.onRemoveItem );
		this.load();
	},
	beforeDestroy() {
		this.model.off( "removed", this.onRemoveItem );
	},
}
</script>
