<template>
	<Card v-if="model"
	      :properties="sortedProperties"
	      :record="item ? record : null"
	      :field-errors="item ? fieldErrors : {}"
	      :field-options="selectOptions"
	      :is-valid="item ? item.$valid : false"
	      :title="( model.schema.options.cardTitle || '%%model%% Editor' ).replace( /%%model%%/g, model.schema.label || model.schema.name )"
	      :error="error"
	      :editor="editor"
	      @input="input"
	      @save="save"
	      @cancel="cancel"
	></Card>
</template>

<script>
import { Model } from "@hitchy/plugin-odem-rest-client";
import Card from "./Card";

export default {
	components: { Card },
	props: {
		model: {
			required: true,
 			validator: value => Model.isModel( value && value.prototype ),
		},
		id: String,
		title: String,
		editor: Boolean,
		routeSave: {
			type: String,
			default: "<back>",
		},
		routeCancel: {
			type: String,
			default: "<back>",
		},
	},
	data() {
		return {
			record: null,
			item: null,
			error: null,
			fieldErrors: {},
			selectOptions: null,
		};
	},
	computed: {
		sortedProperties() {
			const props = this.model.schema.props;
			const names = Object.keys( props );
			const numNames = names.length;
			const sorted = new Array( numNames );

			for ( let i = 0; i < numNames; i++ ) {
				const name = names[i];
				const sorting = this.sortingBy === name;

				sorted[i] = Object.assign( {}, props[name], {
					name,
					classes: {
						sorted: sorting,
						reverse: sorting && this.sortingDescendingly,
					},
				} );
			}

			sorted.sort( ( l, r ) => ( l.index || 0 ) - ( r.index || 0 ) );

			return sorted;
		},
	},
	methods: {
		createEmptyStore( initialValue = null ) {
			const store = {};

			Object.keys( this.model.schema.props ).forEach( name => { store[name] = initialValue; } );

			return store;
		},
		load() {
			this.record = this.createEmptyStore();
			this.fieldErrors = this.createEmptyStore();
			this.error = null;

			if ( this.id ) {
				const item = new this.model( this.id, this.record, this.fieldErrors );

				return item.load()
					.then( () => {
						this.item = item;
					} )
					.catch( error => {
						this.error = error;
					} );
			}

			this.item = new this.model( undefined, this.record, this.fieldErrors );
		},
		fetchOptions() {
			const { props } = this.model.schema;

			this.selectOptions = null;
			const fetched = {};

			const fetcher = Object.keys( props )
				.filter( name => {
					const property = props[name];

					return property.control && property.control.type === "select" && property.model;
				} )
				.map( name => {
					const property = props[name];
					const model = Model.tryModel( property.model );

					if ( model ) {
						return model.optionsCache.fetch( property.control.label )
							.then( options => {
								fetched[model.name] = options;
							} );
					}

					console.warn( `unknown model ${property.model} for providing options for ${property.name}` );
				} );

			return Promise.all( fetcher )
				.then( () => {
					this.selectOptions = fetched;
				} )
				.catch( error => {
					this.error = error;
				} );
		},
		input( propertyName, newValue ) {
			if ( this.item ) {
				this.item[propertyName] = newValue;
			}
		},
		save() {
			this.item.save()
				.then( () => this.trigger( "save" ) )
				.catch( error => { this.error = error; } );
		},
		cancel() {
			this.trigger( "cancel" );
		},
		trigger( name ) {
			const routerTarget = this[`route${name.replace( /^[a-z]/, l => l.toUpperCase() )}`];

			if ( routerTarget ) {
				if ( routerTarget === "<back>" ) {
					this.$router.back();
				} else {
					const qualified = routerTarget.replace( /%s/, item ? item.uuid : "no-item" );

					this.$router.push( this.$router.resolve( qualified, undefined, true ).location );
				}

				return;
			}

			this.$emit( name );
		},
	},
	watch: {
		model( newModel, oldModel ) {
			this.record = null;
			this.fetchOptions().then( () => this.load() );
		},
		id( newModel, oldModel ) {
			this.record = null;
			this.load();
		},
	},
	created() {
		this.load();
		this.fetchOptions();
	},
}
</script>
