$main_color: #2c3e50;
$alt_color: #42b983;
$error_color: #cc0000;

.hvw-view {
	position: relative;
	overflow: hidden;
}

.hvw-context {
	position: relative;
	overflow: hidden;
	width: 100%;
	margin: 1rem auto;
	box-sizing: border-box;

	.headline {
		margin: 0 0 1rem 0;
	}

	.panel {
		margin-top: 1rem;

		.error {
			color: $error_color;
			font-weight: bold;
			padding-bottom: 0.3em;
		}
	}

	button {
		margin: 0 0.5em;
		border: none;
		background: #f0f0f0;
		padding: 0.3em 0.7em;
		font: inherit;
		line-height: 1.4rem;

		&:not(:disabled) {
			border: none;
			background: lighten( $alt_color, 40 );

			&:hover {
				background: $alt_color;
				color: white;
				cursor: pointer;

				* {
					cursor: pointer;
				}
			}
		}
	}
}

.hvw-modal {
	z-index: 100000;
	position: fixed;
	overflow: hidden;
	top: 0;
	left: 0;
	transform: translateZ(0);
	display: flex;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
	margin: 0;

	&.hidden {
		width: 0;
		height: 0;
	}

	&.visible {
		right: 0;
		bottom: 0;
		background: #00000090;
	}
}

.hvw-list-view, .hvw-card-view {
	padding: 1rem;
	background: #00000003;
}

.hvw-list {
	table {
		width: 100%;
		border-collapse: collapse;
		border: 1px solid #00000030;
		text-align: left;
	}

	thead {
		background: $main_color;
		color: white;
	}

	td, th {
		padding: 0.5em;

		&.actions {
			text-align: right;

			button {
				&:first-child {
					margin: 0;
				}

				margin-right: 0;
			}
		}
	}

	tbody tr:nth-child(2n+1) {
		background: #ffffff10;
	}

	tbody tr:nth-child(2n) {
		background: #00000004;
	}

	.empty {
		margin: 2em auto;
		font-style: italic;
	}
}

.hvw-card {
	max-width: 960px;
	min-width: 280px;

	.fields {
		display: flex;
		flex-flow: column nowrap;
		align-items: center;
		box-sizing: border-box;
	}

	.field {
		width: 100%;
		display: flex;
		flex-flow: row nowrap;
		justify-content: stretch;

		.label {
			flex: 1 1 10em;
			padding: calc( 0.3rem + 1px ) 0;
			text-align: left;

			&:after {
				content: ":";
				padding-right: 0.5rem;
			}
		}

		.content {
			flex: 100 1 auto;
			display: block;
			position: relative;
			text-align: left;

			.hint {
				font-size: 0.8em;
				color: #00000080;
				line-height: 1.4;
			}

			.error {
				color: $error_color;
				font-weight: bold;
				padding-bottom: 0.3em;
			}

			select {
				&.unset {
					color: #00000050;
				}

				option:not(.unset) {
					color: black;
				}

				option.unset {
					color: #00000050;
				}
			}
		}

		input, select {
			appearance: none;
			display: block;
			border: 1px solid #00000020;
			background: #f0f0f0;
			padding: 0.3rem 0.5rem;
			font: inherit;
			width: 100%;
			box-sizing: border-box;
		}

		& + .field {
			margin-top: 0.5rem;
		}
	}

	&.viewer .field .content {
		display: block;
		border: 1px solid transparent;
		background: #f6f6f6;
		padding: calc( 0.3rem + 1px) 0.5rem;
		font: inherit;
		width: 100%;
		box-sizing: border-box;
	}
}

.hvw-popup {
	.popup-container {
		background: white;
		text-align: left;
	}

	.title {
		background: $main_color;
		color: white;
		padding: 0.4em 1em;
	}

	.text {
		padding: 1em;
	}

	.buttons {
		margin-bottom: 1em;
		text-align: center;
	}
}
